.tag-info {
    display: inline-flex;
    min-width: var(--tag-min-width, 104px);
    max-width: var(--tag-max-width, 320px);
    min-height: var(--tag-min-height, 38px);
    padding: var(--size-tiny, 8px) var(--size-small, 16px);
    justify-content: center;
    align-items: center;
    gap: var(--size-tiny, 8px);
    border-radius: var(--size-tiny, 8px);
    &.status {
        &.info {
            background: var(--color-feedbacks-information-soft, #deeafc);
        }
        &.error {
            background: var(--color-feedbacks-error-soft);
        }
        &.warning {
            background: var(--color-feedbacks-warning-soft);
        }
        &.success {
            background: var(--color-feedbacks-success-soft);
        }
        &.neutral {
            background: var(--color-feedbacks-neutral-moderate);
        }
    }
}
.label {
    &.info {
        color: var(--color-feedbacks-information-strong);
        font-feature-settings:
            "clig" off,
            "liga" off;

        /* Label/16/Semibold */
        font-family: Nunito;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    &.error {
        color: var(--color-feedbacks-error-strong);
        font-feature-settings:
            "clig" off,
            "liga" off;

        /* Label/16/Semibold */
        font-family: Nunito;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    &.warning {
        color: var(--color-feedbacks-warning-strong);
        font-feature-settings:
            "clig" off,
            "liga" off;

        /* Label/16/Semibold */
        font-family: Nunito;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    &.success {
        color: var(--color-feedbacks-sucess-strong);
        font-feature-settings:
            "clig" off,
            "liga" off;

        /* Label/16/Semibold */
        font-family: Nunito;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    &.neutral {
        color: var(--color-feedbacks-neutral-soft);
        font-feature-settings:
            "clig" off,
            "liga" off;

        /* Label/16/Semibold */
        font-family: Nunito;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
}
.show-number {
    &.info {
        color: var(--color-feedbacks-information-strong);
        text-align: center;
        font-feature-settings:
            "clig" off,
            "liga" off;

        /* Label/16/Bold */
        font-family: Nunito;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    &.error {
        color: var(--color-feedbacks-error-strong);
        text-align: center;
        font-feature-settings:
            "clig" off,
            "liga" off;

        /* Label/16/Bold */
        font-family: Nunito;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    &.warning {
        color: var(--color-feedbacks-warning-strong);
        text-align: center;
        font-feature-settings:
            "clig" off,
            "liga" off;

        /* Label/16/Bold */
        font-family: Nunito;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    &.success {
        color: var(--color-feedbacks-success-strong);
        text-align: center;
        font-feature-settings:
            "clig" off,
            "liga" off;

        /* Label/16/Bold */
        font-family: Nunito;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    &.neutral {
        color: var(--color-feedbacks-neutral-soft);
        text-align: center;
        font-feature-settings:
            "clig" off,
            "liga" off;

        /* Label/16/Bold */
        font-family: Nunito;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}

.icon-left,
.icon-right {
    width: var(--size-small, 16px);
    height: var(--size-small, 16px);
    &.info {
        color: var(--color-feedbacks-information-soft);
    }
    &.error {
        color: var(--color-feedbacks-error-soft);
    }
    &.warning {
        color: var(--color-feedbacks-warning-soft);
    }
    &.success {
        color: var(--color-feedbacks-success-soft);
    }
    &.neutral {
        color: var(--color-feedbacks-neutral-moderate);
    }
}
